<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
  </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Grafico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


        
  <app-networkgraph [evento]="evento"></app-networkgraph>
        



</ion-content>

