<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
  </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lector QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" shape="block"  color="danger" (click)="cerrarSobre()">
    Cerrar Nodo
  </ion-button>

  
  <ion-slides [options]="swiperOpts">

  
    <ion-slide>

      <ion-button expand="full" fill="outline" size="large" shape="round" color="tertiary" (click)="scan()">
        Escanear Votaciones
      </ion-button>
  
    </ion-slide>
  
  </ion-slides>
  

</ion-content>
