<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="primerMenu"></ion-menu-button>
  </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Unirse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <ion-list>
    
    <ion-item>

      <ion-label position="floating" color="tertiary">Inserte Codigo del Tejido</ion-label>
      <ion-textarea [(ngModel)]="evento._id"></ion-textarea>

    </ion-item>

  </ion-list>

  <br><br>

  <ion-button color="tertiary" expand="block" shape="round"  (click)="unirseEvento()" [disabled]="evento._id.length < 1"> 
    Unirse al Tejido
  </ion-button>

</ion-content>

