<ion-tabs> 
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/crear-evento']">
      <ion-icon name="add-circle-outline" color="primary"></ion-icon>
      <ion-label color="primary">Crear Tejido</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/mis-eventos']">
      <ion-icon name="documents-outline" color="primary"></ion-icon>
      <ion-label color="primary">Mis Tejidos</ion-label>
    </ion-tab-button>

  <!--   <ion-tab-button [routerLink]="['/inicio']">
      <ion-icon name="home-outline" color="primary"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button [routerLink]="['/unirse']">
      <ion-icon name="person-add-outline" color="primary"></ion-icon>
      <ion-label color="primary">Unirse</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/mi-perfil']">
      <ion-icon name="person-outline" color="primary"></ion-icon>
      <ion-label color="primary">Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>